{% extends 'layout.html' %}

{% block body %}
<div>
   <p>
      I Am Thankful was created to act as an online gratitude journal. Originally created for a small group of friends, I realized the idea could be even more beneficial if it was accessible to a larger number of people. This could be accomplished through the use of smartphones and computers where an individual has access to an internet-connected device to enter what they are thankful for as soon as they wish.
   </p>
   <br>
   <p>
      The benefits of keeping a gratitude journal are tremendous. The most discussed benefit is the improvement in one's mental health, focusing on what is most important to you and feeling more grateful for what you have in life, as researched by multiple organizations, including Harvard Health and the University of California, Berkeley.
   </p>
</div>
<br>
<br>
<div class="reference">
   <p>
      References
      <br>
      <br>
      Brown, J., & Wong, J. (2020, November 10). How Gratitude Changes You and Your Brain. Retrieved from Greater Good Magazine: https://greatergood.berkeley.edu/article/item/how_gratitude_changes_you_and_your_brain
      <br>
      <br>
      Giving thanks can make you happier. (2020). Retrieved from Havard Health Publishing: https://www.health.harvard.edu/healthbeat/giving-thanks-can-make-you-happier
   </p>
</div>
{% endblock %}